<link rel="stylesheet" href="footer.component.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="footer">
  <hr />

  <div class="text-center">
    <a href="https://www.facebook.com/De-Brabant-Vastgoed-319951948803320/">
      <i
        class="fa fa-facebook-square"
        style="font-size: 36px; color: blue;"
      ></i>
    </a>
  </div>
  <p class="text-center">©Vastgoed De Brabant 2020</p>
  <p class="text-center">
    Powered by:
    <a href="mailto:olivierdebrabant@outlook.com" rel="nofollow"
      >olivierdebrabant@outlook.com</a
    >
  </p>
</div>
