<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="all">
  <h1 class="font-weight-normal"><i class="fa fa-home"></i> Projecten</h1>
  <hr />

  <div fxLayout="column" fxLayoutGap="2%">
    <div *ngIf="projects$ | async as projecten; else loading">
      <div class="row">
        <div class="project" *ngFor="let project of projects$ | async">
          <app-project [project]="project"></app-project>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>
