<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="all">
  <img src="../../assets/img/macbook.jpg" width="100%" height="250px" />

  <div id="overOns">
    <h1 class="border-bottom"><i class="fa fa-diamond"></i> Over Ons</h1>
    <div>
      <p class="text-center">
        Jan De Brabant is een bouwer van de derde generatie die zijn ervaring en
        expertise ten volle gebruikt om kwaliteitsvolle, eigentijdse woningen en
        appartementen te realiseren. Deze projecten worden allen van A tot Z in
        eigen beheer, vanaf de aankoop van de grond tot en met de oplevering,
        afgewerkt. Kopers van een appartement of woning in opbouw genieten
        bovendien van de bescherming van een voltooiingswaarborg die opgelegd
        wordt in het kader van de Wet Breyne waardoor u geen enkel financieel
        risico loopt.
      </p>
    </div>
  </div>

  <main class="jumbotron">
    <div class="text-center">
      <h3>
        Heb je een stuk grond of een oud huis te koop?<br />Aarzel dan niet
        contact met ons op te nemen.
      </h3>
      <a [routerLink]="['contact']" class="btn btn-primary">Contact</a>
    </div>
  </main>
</div>
