<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="all">
  <h1 class="pb-2 mt-4 mb-2 border-bottom">
    <i class="material-icons">dashboard</i> Dashboard
  </h1>

  <div>
      <button class="btn btn-primary m-2" (click)="addProject()" data-cy="addProject">Add Project</button>
      <button class="btn btn-primary m-2" (click)="registreer()">Registreer Beheerder</button>
  </div>

  <div>
    <app-project-overzicht></app-project-overzicht>
  </div>
</div>
