<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="main-nav.component.css" />
    <title>Contact</title>
  </head>
  <body>
    <header class="d-none d-md-block ">
      <p><br /></p>

      <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container-fluid ml-80">
          <img src="../images/logo.png" height="150px" alt="logo" />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-nav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-nav">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="index.html">Home</a>
              <a class="nav-item nav-link" href="projecten.html">Projecten</a>
              <a class="nav-item nav-link" href="realisaties.html"
                >Realisaties</a
              >
              <a class="nav-item nav-link active" href="contact.html"
                >Contact</a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
