#inlog{
    background-color: #ff6600;
    font-size: small;
    margin-right: 0px;
    padding: 0px;
    
}
.img{
    object-fit: cover;
}
.font-item{
    color: red;
}
div a{
    font: 1.25em sans-serif;
}
nav div img, #inlogMeth{
    margin: 10px;
    display: inline-block;
}
body{
    margin-bottom: 20px;
}
p{
    cursor: pointer;
}