<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="main-nav.component.css" />
    <title>MenuBalk</title>
  </head>
  <body>
    <header class="d-none d-md-block ">
      <p class="text-right">
        <a class="nav-link">Inloggen</a>
      </p>

      <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container-fluid ml-80">
          <img src="../../../assets/img/logo.png" height="150px" alt="logo" />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-nav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-nav">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" [routerLink]="['']">Home</a>
              <a class="nav-item nav-link" href="projecten.html">Projecten</a>
              <a class="nav-item nav-link" href="realisaties.html"
                >Realisaties</a
              >
              <a class="nav-item nav-link active" href="contact.html"
                >Contact</a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
