<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="all">
  <h1 class="font-weight-normal"><i class="fa fa-home"></i> Project toevoegen</h1>
  <hr />
  <form [formGroup]="project" (ngSubmit)="onSubmit()">
    <div class="form">
      <div class="form-field">
        <label for="naam">Naam:</label>
        <input
          type="text"
          class="form-control"
          id="naam"
          placeholder="naam"
          formControlName="naam"
          data-cy="naam"
          required
        />
        
      </div>
      <div class="form-field">
        <label for="beschrijving">Beschrijving:</label>
        <textarea
          type="text"
          class="form-control"
          id="beschrijving"
          placeholder="beschrijving project"
          formControlName="beschrijving"
          data-cy="beschrijving"
          rows="3"
        ></textarea>
      </div>
      <div class="form-field">
        <label for="adres">Adres:</label>
        <input
          type="text"
          class="form-control"
          id="adres"
          placeholder="adres van project"
          formControlName="adres"
          data-cy="adres"
          required
        />
      </div>
      <button
        class="btn btn-secondary"
        type="submit"
        data-cy="submitbtn"
        [disabled]="!project.valid"
      >
        Add project
      </button>
    </div>
  </form>
